:root {
  /* Colors */
  --display-background-color: #1d1f1f;
  --calculator-background-color: #696969;

  /* Orbitron font */
  --main-font: "Orbitron", sans-serif;

  /* Font vars */
  --display-text-color: #80cf3b;

  --display-text-size: 4em;

  --display-text-weight: 400;

  /* Calculator  dimensions*/
  --calculator-height: 72%;
  --calculator-width: 40%;

  /* Display dimensions */
  --display-height: 24%;
  --display-width: 92%;

  /* Keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  :root {
    /* font size */
    --display-text-size: 10rem;

    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/* app css reset */
body,
div,
p {
  margin: 0;
  padding: 0;
}
