.key-container {
  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Dimensions */
  height: 25%;
  
  /* Transitions */
  transition: background-color 0.3s linear;
}

.key-container:hover {
  cursor: pointer;
}

/* +-/* keys */
.operator-key {
  background-color: var(--action-key-color);
  width: 100%;
}

.operator-key:hover {
  background-color: var(--action-key-color-hover);
}

/* Number key container 0 - 9 */
.number-key {
  background-color: var(--number-key-color);

  /* Calculate width so 3 numbers on each line*/
  width: calc(100%/3)
}

.number-key:hover {
  background-color: var(--number-key-color-hover);
}


.submit-key {
  background-color: var(--submit-key-color);
  height: 100%;
  width: 100%;
}

.submit-key:hover {
  background-color: var(--submit-key-color-hover);
}

/* Actual displayed value on keys */
.key-value {
  color: var(--key-text-color);
  font-family: var(--main-font);
  font-size: var(--key-text-size);
  font-weight: var(--key-text-weight);
}